/* 
 @media (min-width: 768px) {
    styles
  }
  @media (min-width: 1024px) {
    styles
  }
*/
/** GRID **/
.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .grid {
      flex-direction: row; } }

.grid-item {
  flex: 1 1 100%;
  padding: 0.2em;
  position: relative; }
  .grid-item img {
    width: 100%;
    height: auto; }
  .grid-item h3 {
    color: #fff;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px #707070;
    position: absolute;
    bottom: 0.5em;
    left: 1em; }
  @media (min-width: 768px) {
    .grid-item {
      flex: 1 1 50%; } }
  @media (min-width: 1024px) {
    .grid-item {
      flex: 1 1 33.3333%; } }

.grid-item--width2 {
  flex: 1 1 100%; }
  @media (min-width: 768px) {
    .grid-item--width2 {
      flex: 1 1 50%; } }
  @media (min-width: 1024px) {
    .grid-item--width2 {
      flex: 1 1 50%; } }

.nav {
  display: inline-block !important;
  width: 100%;
  padding: 20px; }

.nav-link {
  float: left; }

.nav-item {
  float: right; }

.description {
  position: absolute;
  text-align: center;
  top: 3px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 99%;
  height: 98%;
  padding: 20px;
  margin: 0;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Good browsers */
  opacity: 0; }

.description:hover {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Good browsers */
  opacity: 1; }
