/* 
 @media (min-width: 768px) {
    styles
  }
  @media (min-width: 1024px) {
    styles
  }
*/
/** GRID **/
.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .grid {
      flex-direction: row; } }

.grid-item {
  flex: 1 1 100%;
  padding: 0.2em;
  position: relative; }
  .grid-item img {
    width: 100%;
    height: auto; }
  .grid-item h3 {
    color: #fff;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px #707070;
    position: absolute;
    bottom: 0.5em;
    left: 1em; }
  @media (min-width: 768px) {
    .grid-item {
      flex: 1 1 50%; } }
  @media (min-width: 1024px) {
    .grid-item {
      flex: 1 1 33.3333%; } }

.grid-item-small {
  flex: 0 1 100%; }
  @media (min-width: 768px) {
    .grid-item-small {
      flex: 0 1 50%; } }
  @media (min-width: 1024px) {
    .grid-item-small {
      flex: 0 1 33.3333%; } }

.grid-item--width2 {
  flex: 1 1 100%; }
  @media (min-width: 768px) {
    .grid-item--width2 {
      flex: 1 1 50%; } }
  @media (min-width: 1024px) {
    .grid-item--width2 {
      flex: 1 1 50%; } }

.button {
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  color: #A49A99 !important; }

.button--search:before {
  content: '\2192'; }
  @media (min-width: 768px) {
    .button--search:before {
      content: 'Search'; } }

.button:hover {
  background-color: #A49A99 !important;
  color: #fff !important; }

.button--favourite {
  cursor: pointer;
  background: none;
  border: 0;
  position: absolute;
  color: #E8DDD9;
  top: 0.7em;
  right: 0.7em;
  z-index: 900; }
  @media (min-width: 768px) {
    .button--favourite {
      font-size: 70%;
      top: 1em; } }

.button--favourite:hover {
  color: #fff;
  background: none; }

input {
  font-family: "Quicksand", sans-serif !important;
  border: 1px solid #A49A99 !important; }

.form-control {
  width: 83% !important; }

.form-inline {
  flex: 1 1 auto !important;
  justify-content: space-between;
  flex-flow: row !important; }

p {
  font-family: "Quicksand", sans-serif !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif !important; }

.nav {
  display: inline-block !important;
  width: 100%;
  padding: 20px; }

.nav-link {
  float: left; }

.nav-link img {
  width: 40px; }

.nav-item {
  float: right;
  padding: .5em 1em;
  width: 100%; }
  @media (min-width: 768px) {
    .nav-item {
      width: auto; } }

.description {
  position: absolute;
  text-align: center;
  top: 3px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 99%;
  height: 98%;
  padding: 20px;
  margin: 0;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Good browsers */
  opacity: 0;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.description:hover {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Good browsers */
  opacity: 1; }

.container {
  width: 100% !important;
  max-width: 1366px; }
