.form-inline {
  display: flex;
  justify-content: space-between;
  flex-flow: row!important;
}

input {
  font-family: $para-font !important;
  border: 1px solid $gray !important;
}


.form-control {
  width: 80%;
  @media #{$tablet} {
    width: 50%;
  }
  @media #{$desktop} {
    width: 30%;
  }
}

