.vjs-poster {
  background-size: cover;
}
.container__video {
  min-width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .video {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

    @media #{$tablet} {
      width: 80%;
    }
  }
}

.player__info {
  display: block;
  margin: 0 auto 1em;
  padding: 0 0.6em;

  @media #{$tablet} {
    width: 80%;
  }

  .player__tags {
    .player__tags-tag {
      cursor: pointer;
      margin: 0 0.8em;
    }
  }
}

.vjs-playlist {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0.5em 0;
}
.vjs-playlist-item-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .vjs-playlist-item {
    display: inline-block;
    max-width: 200px;
    flex: 1 0 auto;
    height: auto;
  }
}

