$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";

/* 
 @media #{$tablet} {
    styles
  }
  @media #{$desktop} {
    styles
  }
*/

$header-font: 'Oswald', sans-serif;
$para-font: 'Quicksand', sans-serif;

$white: #fff;
$gray: #A49A99;
$light-gray: #E8DDD9;
$red: #673342;
$blue: #343440;