$tablet: "(min-width: 768px)";
$tablet--landscape: "(min-width: 768px) and  (orientation: landscape)";
$desktop: "(min-width: 1024px)";
$desktop--landscape: "(min-width: 1024px) and (orientation: landscape)";

/* 
 @media #{$tablet} {
    styles
  }
  @media #{$desktop} {
    styles
  }
*/

$header-font: 'Oswald', sans-serif;
$para-font: 'Quicksand', sans-serif;

$white: #fff;
$gray: #A49A99;
$light-gray: #E8DDD9;
$red: #673342;
$blue: #343440;
$bright-blue: #0275d8;