$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";

/* 
 @media #{$tablet} {
    styles
  }
  @media #{$desktop} {
    styles
  }
*/

$header-font: 'Oswald', sans-serif;
$para-font: 'Quicksand', sans-serif;