@import 'variables';
@import 'grid';
@import 'buttons';
@import 'forms';
@import 'player';
@import 'playlist';

p {
  font-family: $para-font;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
  margin: 0.8em 0 0.5em;
}

span {
  font-family: $para-font;
  text-transform: uppercase;
  font-size: 0.8em;
}

.desktop {
  display: none;
  
  @media #{$tablet} {
    display: inline-block;
  }
}
#video {
  display: none;
}

//NAVIGATION
    
.nav {
  width: 100%;
  max-width: 1366px;
  margin:  auto;
  align-items: center;
  background-color: #000;
}
.nav__container {
  background-color: #000;
}

.nav-link {
  font-family: $header-font;
  font-size: 1em;
  text-transform: uppercase
}

.nav-link img {
  width: 40px;
}

.logo {
  font-family: $header-font;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
  
.nav-item {
  padding: .5em 1em;
}

.description {
  position: absolute;
  text-align: center;
  top: 3px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  width: 99%;
  height: 98%;
  padding: 20px;
  margin: 0;

  -moz-transition: all 0.2s ease-out;  /* FF4+ */
  -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
  -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
  -ms-transition: all 0.2s ease-out;  /* IE10? */
  transition: all 0.2s ease-out;  
  
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Good browsers */
  opacity: 0;

  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.description:hover {

  -moz-transition: all 0.2s ease-out;  /* FF4+ */
  -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
  -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
  -ms-transition: all 0.2s ease-out;  /* IE10? */
  transition: all 0.2s ease-out;  
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Good browsers */
  opacity: 1;
}

.container {
  width: 100%;
  max-width: 1366px;

  &.container--no-gutter {
    min-width: 100%;
    padding: 0;
  }
}

.tags {
  display: block;
  color: $light-gray;

  i {
    margin-right: 0.3em;
  }
  .tag {
    margin: 0 0.3em;
  }
}




