@import 'variables';
@import 'grid';
@import 'buttons';
@import 'forms';

body {
  font-family: $para-font !important;
  background-color: $white !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font !important;
}





