$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";
/** FONTS **/
h3 {
}


/** GRID **/

.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media #{$tablet} {
    flex-direction: row;
  }
}
// 1/3 item

.grid-item { 
  flex: 1 1 100%;
  padding: 0.2em;

  position: relative;

  img {
    width: 100%;
    height: auto;
  }
  a {
    color: #fff;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px #707070;
    
    position: absolute;
    bottom: 0.5em;
    left: 1em;
  }

  @media #{$tablet} {
    flex: 1 1 50%;
  }
  @media #{$desktop} {
    flex: 1 1 33.3333%;
  }
}

// 1/2 item
.grid-item--width2 {
  flex:  1 1 100%;

  @media #{$tablet} {
    flex: 1 1 50%;
  }
  @media #{$desktop} {
    flex: 1 1 50%;
  }
}


