@import 'variables';
@import 'grid';
@import 'buttons';
@import 'forms';

p {
  font-family: $para-font !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font !important;
}

//NAVIGATION
    
.nav {
  display: inline-block !important;
  width: 100%;
  padding: 20px;
}

.nav-link {
  float: left;
}

.nav-link img {
  width: 40px;
}
  
.nav-item {
  float: right;
  padding: .5em 1em;
  width: 100%;

  @media #{$tablet} {
    width: auto;
  }
}

.description {
  position: absolute;
  text-align: center;
  top: 3px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  width: 99%;
  height: 98%;
  padding: 20px;
  margin: 0;
  
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Good browsers */
  opacity: 0;

  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.description:hover {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Good browsers */
  opacity: 1;
}

.container {
  width: 100%!important;
  max-width: 1366px;
}




